/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}

.featureSvg {
  height: 240px;
  width: 300px;
}

.featureH3 {
  color: #21618C;
  letter-spacing: -0.08em;
  font-size: 1.6rem;
  text-decoration: underline;
}

.featureH4 {
  color: #000000;
  word-spacing: -0.5em;
  font-size: 1.1rem;
  font-family: monospace;
  font-style: normal
}
