/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-style: italic;
  color: yellow;
  background-image: url("banner.jpg");
  /* box-shadow:10px 10px 10px grey; */

  /* background-size: contain; */
  max-width: 100%;
  max-height: 100%;
  /* border: 2px solid; */
  /* color: pink; */
  resize: both;
/* overflow: scroll; */
  /*
  background: lightblue url("banner.png") no-repeat fixed center;
  background-size: contain;
  overflow: scroll; */
  /* background-image: url("banner.png"); */
  /* background-color: #00000; */
  /* outline: 6px dotted black; */
}
.heroBanner h1{
   color: yellow;
   font-size: 4rem;
   letter-spacing: -0.06em;
   text-shadow: 4px 6px 10px black;
   /* font: 55px Arial, sans-serif; */
}
.heroBanner h3{
   color: #1f1;
   letter-spacing: -0.01em;
   font-family: monospace;
   font-size: 1rem;
   font-style: normal;
   text-shadow: -10px 0px 8px black;
}
.box{
    width: 250px;
    border: 5px solid black;
}
.box.large{
    height: 300px;
}
.box.small{
    height: 100px;
}

@media screen and (max-width: 4966px) {
  .heroBanner {
    padding: 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
