body {
  margin: 0;
  padding: 0;
}

/* html, body, h1, h2, h3, p, span, label, a {
  font-family: 'Lato', sans-serif;
} */

body, h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, Geneva, sans-serif;
}

/* body {
  font-family: 'Padauk', sans-serif;
} */
/* https://fonts.google.com/specimen/Underdog#standard-styles */
.heading {
  font-weight: 900;
}

.subheading {
  font-weight: 300;
}
